---
---
@import 'neat';
@import 'pokeball';

$color-ear: #6a3c1c;
$color-fur: #EFE1AF;
$purplish: #a3a3ec;
$purplish-light: #feb4ff;

$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$total-kf: 13;
$duration: 10s;

$screen-sm: 600px;
$screen-md: 768px;
$screen-lg: 840px;

$screen-xs-max: $screen-sm - 1px;
$screen-sm-min: $screen-sm;
$screen-sm-max: $screen-md - 1px;
$screen-md-min: $screen-md;
$screen-md-max: $screen-lg - 1px;
$screen-lg-min: $screen-lg;

.content-wrap {
  @include outer-container;
  @include row();
  @include clearfix;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  border: 1px rgba(0,0,0,0.2) solid;
  max-width: 768px;
  margin-bottom: 4vh;
}
header.content-wrap {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
  .pokeball { margin-right: 0.3rem; }
}
footer {
  width: 100%;
  text-align: center;
  .pokeball { margin-right: 0;}
}

p:last-child { margin-bottom: 0; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body, main, header, footer {
  padding: 4vh;
}
body { padding-top: 0; padding-bottom: 0; }
*, *:before, *:after {
  box-sizing: border-box;
}

.img-right {
  float: right;
  width: 100%;
  max-height: auto;
}

@media (max-width: $screen-xs-max) {
  .eevee, .dex {
    @include clearfix;
    @include span-columns(12);
  }
  .dex { margin-top: 1rem; }
}
@media (min-width: $screen-sm-min) {
  .eevee { @include span-columns(6); }
  .dex { @include span-columns(6); }
}
@media (min-width: $screen-md-min) {
  .eevee { @include span-columns(7); }
  .dex { @include span-columns(5); }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
  and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .eevee, .dex {
    @include clearfix;
    @include span-columns(12);
  }
  .dex { margin-top: 1rem; }
}

html body {
  min-height: 100%;
  height: auto;
  $light: rgba(white, 0.6);
  $lighter: rgba(white, 0.3);
  background-image:
  repeating-linear-gradient(120deg,
    $light,
    $light 1px,
    transparent 1px,
    transparent 30px,
    $lighter 30px,
    $lighter 31px,
    transparent 31px,
    transparent 60px
  ),
  repeating-linear-gradient(60deg,
    $light,
    $light 1px,
    transparent 1px,
    transparent 30px,
    $lighter 30px,
    $lighter 31px,
    transparent 31px,
    transparent 60px
  ),
  repeating-linear-gradient(to bottom,
    $lighter,
    $lighter 1px,
    transparent 1px,
    transparent 30px
  );
  background-size: 70px 120px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 300;
}

.heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 14px;
  letter-spacing: 0.25ch;

  > span {
    font-weight: 300;
    margin-right: 0.5ch;
  }

  > strong {
    font-size: 28px;
    font-weight: 400;
  }

}

.info {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 14px;
}

.subheading {
  font-size: 18px;
  line-height: 28px;
}

p {
  line-height: 18px;
  margin: 0;
  margin-bottom: 1rem;
}

a {
  transition: opacity 0.3s $easing;
  &, &:active, &:visited {
    color: white;
  }
  text-decoration: initial;
  border-bottom: 1px dotted white;

  &:hover {
    opacity: 0.8;
  }
}

html {
  background: radial-gradient(50vmin 50vmin, $purplish-light, $purplish);
  background-position: -20vw center;
  background-repeat: no-repeat;
  background-color: $purplish;
  @media (max-width: 600px) {
    background-position: center -20vw;
  }
}
